@import '../../../styles/colors';
$success: #4eb54a;
$failed: #eb433d;
$border: #f1f1f1;
$warning: #f7941d;

.features{
  padding: 0 1rem;
  display: flex;
  flex-flow: row wrap;
  .feature{
    .inner{
      &.success{
        background-color: $success;
      }

      &.failed{
        background-color: $warning;
      }

      &.orange{
        background-color:$warning;
      }

      display: flex;
      margin: 3px;
      padding: 0.6rem;
      .icon{
        img{
          width: 20px;
          height: auto !important;
        }
      }
      .result{
        margin-left: 10px;
        h6{
          margin: 0;
          color: white;
          font-size: 11px;
          &.target{
            text-transform: uppercase;
          }
          &.percent{
            font-size: 14px;
          }
        }
      }

    }
    width: calc( 100%/3 );
  }
}
