@import '../../../../styles/colors';
.batchreview-body{

    .inputGroup{
        width: 100%;
        height: 41px;
        .quick-search{
            width: 30%;
            float: left;
            margin-right: 8px;
            height: 41px;

            .searchPendingClass{
                position: relative;
                height: 41px;
                .spanPendingSearch{
                    img{
                        position: absolute;
                        width: 20px;
                        top: 10px;
                        right: 13px;
                    }

                }
                .searcPendinghInput{
                    height: 41px;
                    padding-right: 40px;
                    border: none;
                    border-radius: 0;
                    box-shadow: 0px 1px 48px rgba(208,211,220,0.32);
                    background-color: #ffffff;
                    font-size: 12px;
                }

                input[type="text"]:focus {
                    -webkit-box-shadow: none;
                    box-shadow: none;
                }
            }
        }
        .Status{
            width: 30%;
            float: left;
            margin-right: 8px;
            height: 41px;
            position: relative;

            .selectPendingClass{
                position: relative;
                height: 41px;
                .selectPendingSpan{
                    img{
                        position: absolute;
                        right: 20px;
                        top: 3px;
                    }
                }

                .selectPendingInput{
                    height: 41px;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    border: none; /* If you want to remove the border as well */
                    border-radius: 0;
                    box-shadow: 0px 1px 48px rgba(208,211,220,0.32);
                    background-color: #ffffff;
                    font-weight: bold;
                    font-size: 12px;
                }

                select:focus{
                    outline: none ;
                    box-shadow:none;
                }
            }
        }
    }

    .table-part{
        margin-top: 23px;
        .custom-table{
            background: transparent;
            font-size: 11px;
            text-align: center;
            border-collapse:separate;
            border-spacing: 0 5px;

            thead{
                tr{
                    background-color: #d5d8e1;
                    th{
                        border: none;
                        padding: 1.3rem 0.75rem;
                        border-top: 1px dashed #ccc;
                        border-bottom: 1px dashed #ccc;
                        font-weight: 400;
                        font-size: 13px;
                    }
                }
            }

            tr{
                background-color: white;
                th{
                    font-weight: 400;
                    text-transform: capitalize;
                    border-top: none;
                    border-bottom: 3px solid #e8eaf1;
                }
                td{
                    text-transform: capitalize;
                    border-top: none;
                    border-bottom: 3px solid #e8eaf1;
                }
            }

            .th-date{
                width: 20%;
            }
            .th-name{
                width:20%;
            }
            .th-status{
                width:10%;
            }
            .th-method{
                width: 10%;
            }
            .th-records{
                width: 10%;
            }
            .th-completion{
                width: 10%;
            }
            .th-view{
                width: 10%;
            }
            .th-delete{
                width: 10%;
            }
            
            .action-imgs{
                width:36%;
            }
        }
    }
}