@import '../../../styles/colors';
.modal-content{
    width: 770px;
    margin-left: -140px;
    margin-top: 80px;
    border-radius: 5px;
    box-shadow: none;
    padding: 0px;
    height: 530px;

    .modal-body{
        padding: 0px;
        width: 100%;
        height: 100%;
        .custom-modal{
            display: flex;
            width: 100%;
            height: 100%;
            // border-radius: 5px;

            .left-side{
                flex: 7;
                margin: 5%;

                .outer-box{
                    margin: auto;
                    display: table;
                    width: 95%;
                    height: 85%;
                    margin-top: 15%;
                    background: #fff;
                    border-radius: 6px;
                    box-shadow: 0px 0px 20px 20px #f7f7f7;

                    .inner-box{
                        width: 74%;
                        height: 90%;
                        margin: auto;
                        margin-top: 8%;
                        box-shadow: 0px 0px 3px 8px #f3f3f3;

                        .image-wating{
                            width:100%;
                        }
                    }
                }

            }
            .right-side{
                flex:9;
                background: #f4f6fb;
                border-radius: 5px;
                padding: 5%;

                .right-margin
                {
                    margin-left:10px;
                    margin-right: 6px;
                    margin-top: 22px;

                    .dialog-title{
                       text-align: left; 
                       font-weight: bold;
                       font-size: 18px;
                       color: $secondary;
                    }
                    .dialog-subtitle{
                        margin-top: 39px;                      
                        font-weight: bold;
                        font-size: 16px;
                        color: $secondary;
                    }

                    .dialog-description{
                        margin-top: 10px;
                        font-size: 14px;
                        color: $secondary;
                        
                        
                    }

                    .dialog-descriptiontitle{
                        margin-top: 19px;
                        font-weight: bold;
                        color: $secondary;
                    }

                    
                    .under-line{
                        width: 80%;
                        height: 1px;
                        border-bottom: solid 1px $primary;
                        margin-top: 10px;
                    
                    }

                    .cancel-button{
                        right: 40px;
                        bottom: 30px;
                        position: absolute;
                        width: 120px;
                        height: 41px;

                        .bottom-cacel{
                            height: 100%;
                            width: 100%;
                            border-radius: 4px;
                            background: #fff;
                            border:solid 1px $primary;
                            color:$primary;
                            font-size: 14px;
                            font-weight: bold;
                                
                           }

                           .btn:active,
                           .btn:focus {
                                outline: none ;
                                box-shadow:none ; 
                           }
                        
                    }
    
            }
        }

        .styles_closeButton__20ID4{
            display: none;
        }
    }
    }
       
    
}


@media screen and (max-width: 780px) {
    .modal-content {
    
        width: 600px;
        height: 450px;
        margin-left: -50px;


        .modal-body .custom-modal .right-side .right-margin .dialog-subtitle {
            margin-top: 5px;
        }


        .modal-body .custom-modal .right-side .right-margin .dialog-descriptiontitle {
            margin-top: 4px;

        }

        .modal-body .custom-modal .left-side .capturing {
            margin-top: 130px;    
            margin-left: 0px;
        }

       
    }


}


@media screen and (max-width: 600px) {
.modal-content {

  width: 500px;
  height: 375px;
  margin-left: 0px;

  .modal-body .custom-modal .right-side .right-margin .dialog-descriptiontitle {
    margin-top: 5px;
    font-size: 11px;
  }

  .modal-body .custom-modal .right-side .right-margin .dialog-subtitle {
    margin-top: 5px;
    font-size: 12px;

  }

  .modal-body .custom-modal .right-side .right-margin .dialog-description {
    font-size: 9px;
  }

  .modal-body .custom-modal .left-side .capturing {

    margin-top: 85px;        
    margin-left: -20px;
   }

   .modal-body .custom-modal .right-side .right-margin .button_group {
    margin-top: 20px;
  }

}
}