@import '../../../styles/colors';
.modal-content{
    width: 770px;
    margin-left: -140px;
    margin-top: 80px;
    border-radius: 5px;
    box-shadow: none;
    padding: 0px;
    height: 530px;

    .modal-body{
        padding: 0px;
        width: 100%;
        height: 100%;
        .custom-modal{
            display: flex;
            width: 100%;
            height: 100%;
            // border-radius: 5px;

            .left-side{
                flex: 7;
                margin: 5%;

                .id_Images{
                    .front{
                        margin-top: 44px;

                        .front_card{
                            width: 100%;
                            margin: auto;
                            display: table;
                            border: dashed 1px #cccccc;;
                        }
                        .front_name{
                            margin: auto;
                            display: table;
                        }
                    }

                    .back{
                        margin-top: 10px;

                        .back_card{
                            width: 100%;
                            margin: auto;
                            display: table;
                            border: dashed 1px #cccccc;;
                        }
                        .back_name{
                            margin: auto;
                            display: table; 
                        }
                    }
                }


            }
            .right-side{
                flex:9;
                background: #f4f6fb;
                border-radius: 5px;
                padding: 5%;

                .right-margin
                {
                    margin-left:10px;
                    margin-right: 6px;
                    margin-top: 22px;

                    .dialog-title{
                       text-align: left; 
                       font-weight: bold;
                       font-size: 18px;
                       color: $secondary;
                    }

                    .custom-fontsize{
                        font-size: 16px;
                    }
                    .dialog-subtitle{
                        margin-top: 39px;                      
                        font-weight: bold;
                        font-size: 16px;
                        color: $secondary;
                    }

                    .dialog-description{
                        margin-top: 10px;
                        font-size: 14px;
                        color: $secondary;
                        
                        
                    }

                    .dialog-descriptiontitle{
                        margin-top: 45px;
                        font-weight: bold;
                        color: $secondary;
                        font-size: 16px;
                    }

                    
                    .under-line{
                        width: 80%;
                        height: 1px;
                        border-bottom: solid 1px $primary;
                        margin-top: 10px;
                    
                    }

                    .button_group{
                        width: 210px;
                        height: 115px;
                        border: dashed 1px #cccccc;
                        border-radius: 3px;
                        margin-top: 60px;

                        .approve{
                            margin: auto;
                            display: table;
                            margin-top: 12px;

                            .disabled{
                                pointer-events: none;
                            }
                            .approve_button{
                                width: 150px;
                                height: 36px;
                                background: $primary;
                                border: solid 1px $primary;
                                border-radius: 3px;
                                color: #fff;
                                font-size: 12px;
                                font-weight: bold;
                                cursor: pointer;
                            }

                            .btn:active,
                            .btn:focus {
                                 outline: none ;
                                 box-shadow:none ; 
                            }
                        }

                        .recapture{
                            margin: auto;
                            display: table;
                            margin-top: 16px;

                            .recapture_button{
                                width: 150px;
                                height: 36px;
                                background: #ffffff;
                                border: solid 1px $primary;
                                border-radius: 3px;
                                color: $primary;
                                font-size: 12px;
                                font-weight: bold;
                                cursor: pointer;
                            }

                            .btn:active,
                            .btn:focus {
                                 outline: none ;
                                 box-shadow:none ; 
                            }

                            
                        }
                    }
                    .cancel-button{
                        right: 40px;
                        bottom: 30px;
                        position: absolute;
                        width: 120px;
                        height: 41px;

                        .bottom-cacel{
                            height: 100%;
                            width: 100%;
                            border-radius: 4px;
                            background: #fff;
                            border:solid 1px $primary;
                            color:$primary;
                            font-size: 14px;
                            font-weight: bold;
                                
                           }

                           .btn:active,
                           .btn:focus {
                                outline: none ;
                                box-shadow:none ; 
                           }
                        
                    }
    
            }
        }


       }
    }
       
    
}


@media screen and (max-width: 780px) {
    .modal-content {
    
        width: 600px;
        height: 450px;
        margin-left: -50px;


        .modal-body .custom-modal .right-side .right-margin .dialog-subtitle {
            margin-top: 5px;
        }


        .modal-body .custom-modal .right-side .right-margin .dialog-descriptiontitle {
            margin-top: 4px;

        }

        .modal-body .custom-modal .left-side .capturing {
            margin-top: 130px;    
            margin-left: 0px;
        }

       
    }


}


@media screen and (max-width: 600px) {
.modal-content {

  width: 500px;
  height: 375px;
  margin-left: 0px;

  .modal-body .custom-modal .right-side .right-margin .dialog-descriptiontitle {
    margin-top: 5px;
    font-size: 11px;
  }

  .modal-body .custom-modal .right-side .right-margin .dialog-subtitle {
    margin-top: 5px;
    font-size: 12px;

  }

  .modal-body .custom-modal .right-side .right-margin .dialog-description {
    font-size: 9px;
  }

  .modal-body .custom-modal .left-side .capturing {

    margin-top: 85px;        
    margin-left: -20px;
   }

   .modal-body .custom-modal .right-side .right-margin .button_group {
    margin-top: 20px;
  }

}
}