@import '../../../../styles/colors';

.menu-body{
    width: 250px;
    padding: 20px;
}

.vl{
    border-left: 2px solid #ebebeb;
    width: 3px;
    height: 560px;
  }

.display-flex{
    display: flex;
}

.hidden{
    visibility: hidden;
}

.gray{
    color: #979797!important;
}

.menu-item{
    color: $blue;
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    width: 200px;
    margin: auto;
}

.menu-line{
    border-left: 4px solid $blue;
    width: 4px;
    margin-right: 15px;
    margin-bottom: 7px;
    height: 48px;
  }
