@font-face {
  font-family: 'Varela-Round';
  src: url("/static/fonts/Varela-Round.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Regular.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-SemiBold.otf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Bold.otf");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-ExtraBold.otf");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Light.otf");
  font-weight: 300;
  font-style: normal; }

@keyframes rotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

body,
html {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
  scroll-behavior: smooth; }

body {
  margin: 0;
  padding: 0;
  font-family: "Varela-Round", Arial, Helvetica, sans-serif;
  color: #000;
  background: #f7f7f7;
  line-height: 22px; }

* {
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin-top: 0;
  font-family: "Gilroy", Arial, Helvetica, sans-serif; }

button:active,
button:focus {
  outline: 0; }

p,
span,
a,
ul,
ol,
li,
div,
input,
textarea,
button {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; }

b {
  font-weight: 600; }

.b-container {
  margin: auto;
  padding: 0 15px;
  max-width: 884px; }

.b-splash-black {
  background-color: #000;
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 34; }

.b-splash {
  background-color: #353535;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 34; }
  .b-splash:before, .b-splash:after {
    content: '';
    position: absolute;
    left: 0;
    background-image: url(/images/background/loading-white.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    width: 100%;
    height: 50%;
    opacity: 0.16; }
  .b-splash:before {
    top: 0; }
  .b-splash:after {
    bottom: 0;
    transform: rotate(180deg); }

.b-title {
  font-size: 16px;
  font-weight: 500; }

.b-icon-warning {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: #ffde00;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: 500; }
  .b-icon-warning:before {
    content: '!'; }

.b-loading {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  left: 0;
  top: 0;
  z-index: -1; }

.b-block {
  border-radius: 8px;
  padding: 15px;
  background: #fff;
  box-shadow: 0 0 0.1px 1px rgba(149, 149, 149, 0.1);
  margin-bottom: 25px; }

.b-logo {
  max-width: 180px;
  margin-bottom: 10px; }

.b-enable-exception .image {
  max-width: 300;
  margin: -15px auto 35px;
  box-shadow: 0 0 83px rgba(170, 170, 170, 0.25); }
  .b-enable-exception .image img {
    margin-bottom: -10px; }

.b-enable-exception h3 {
  font-size: 17px;
  max-width: 220px;
  margin: auto; }

.b-video-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #333;
  transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1); }
  .b-video-container video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.b-ul {
  margin: 5px 0;
  padding-left: 18px; }
  .b-ul li {
    margin: 0;
    display: block;
    position: relative; }
    .b-ul li:before {
      position: absolute;
      content: '\2022';
      font-weight: 600;
      color: #353535;
      top: 0;
      left: -1.125rem; }
    .b-ul li span,
    .b-ul li a {
      text-decoration: underline;
      color: #353535; }

.b-hidden-input {
  position: absolute;
  z-index: -1;
  left: -9999;
  opacity: 0; }

.country_code_desktop {
  width: 100px; }
  .country_code_desktop .select-options {
    width: 230px;
    background-color: white; }
  .country_code_desktop .option {
    border-bottom: 1px solid #e8ebf1;
    font-size: 14px; }
  .country_code_desktop .select-input {
    padding: 4px 0; }
    .country_code_desktop .select-input input {
      display: block;
      width: 100%;
      height: calc(1.25rem + 2px);
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      color: #495057;
      background-color: #fff; }
@font-face {
  font-family: 'Varela-Round';
  src: url("/static/fonts/Varela-Round.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Regular.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-SemiBold.otf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Bold.otf");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-ExtraBold.otf");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Light.otf");
  font-weight: 300;
  font-style: normal; }

@keyframes Button-style-rotate-ea155e {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.Button-style-btn-1ad3da {
  border: 1px solid #353535;
  background: #353535;
  font-family: "Varela-Round", Arial, Helvetica, sans-serif;
  display: inline-block;
  color: #fff;
  height: 48px;
  min-height: 48px;
  font-size: 16px;
  border-radius: 4px;
  padding: 2px 20px 4px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  user-select: none; }
  .Button-style-btn-1ad3da.Button-style-large-b4dfd2 {
    height: 60px;
    min-height: 60px;
    padding-top: 0px; }
  .Button-style-btn-1ad3da.Button-style-full-fdd071 {
    width: 100%; }
  .Button-style-btn-1ad3da.Button-style-shadow-a0a440 {
    box-shadow: 0px 5px 20.16px 3.84px #dedede; }
  .Button-style-btn-1ad3da.Button-style-secandary-e731d0 {
    background: #353535;
    border-color: #353535; }
  .Button-style-btn-1ad3da.Button-style-transparent-295e2f {
    background: transparent;
    border-color: transparent;
    color: black; }
  .Button-style-btn-1ad3da.Button-style-outline-68b06f {
    background: none;
    color: #353535;
    border-color: #353535;
    box-shadow: none; }
  .Button-style-btn-1ad3da.Button-style-outline-68b06f.Button-style-secandary-e731d0 {
    color: #353535; }
  .Button-style-btn-1ad3da:active, .Button-style-btn-1ad3da:focus {
    outline: 0; }
  .Button-style-btn-1ad3da:active {
    box-shadow: none;
    opacity: 0.9; }
  .Button-style-btn-1ad3da[disabled] {
    opacity: 0.7; }
@font-face {
  font-family: 'Varela-Round';
  src: url("/static/fonts/Varela-Round.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Regular.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-SemiBold.otf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Bold.otf");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-ExtraBold.otf");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Light.otf");
  font-weight: 300;
  font-style: normal; }

@keyframes ButtonGroup-style-rotate-f59852 {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.ButtonGroup-style-wrapper-1b249d {
  width: 100%;
  box-sizing: border-box;
  padding: 20px 15px;
  bottom: 0;
  left: 0; }
  .ButtonGroup-style-wrapper-1b249d .ButtonGroup-style-buttons-dba6c1 {
    margin-left: -7px;
    margin-right: -7px;
    display: flex;
    justify-content: center; }
    .ButtonGroup-style-wrapper-1b249d .ButtonGroup-style-buttons-dba6c1 button {
      width: 100%;
      margin: 0 7px;
      max-width: 250px; }
  .ButtonGroup-style-wrapper-1b249d .ButtonGroup-style-buttonsStacked-2712e8 {
    flex-flow: column wrap;
    align-items: center; }
    .ButtonGroup-style-wrapper-1b249d .ButtonGroup-style-buttonsStacked-2712e8 button:first-child {
      margin-bottom: 2px; }
@font-face {
  font-family: 'Varela-Round';
  src: url("/static/fonts/Varela-Round.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Regular.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-SemiBold.otf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Bold.otf");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-ExtraBold.otf");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Light.otf");
  font-weight: 300;
  font-style: normal; }

@keyframes Checkbox-style-rotate-5a46c6 {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.Checkbox-style-checkbox-cdb8b2 {
  padding-left: 25px; }
  .Checkbox-style-checkbox-cdb8b2 label {
    display: block;
    position: relative;
    align-items: center;
    min-height: 28px;
    padding-left: 15px; }
  .Checkbox-style-checkbox-cdb8b2 label::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 22px;
    height: 22px;
    left: 0;
    margin-left: -25px;
    border-radius: 3px;
    border: 3px solid #353535;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
  .Checkbox-style-checkbox-cdb8b2 label::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 16px;
    margin-left: -25px;
    top: 6px;
    left: 9px;
    margin-top: -3px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    background: none !important;
    transform: rotate(45deg);
    display: none; }
  .Checkbox-style-checkbox-cdb8b2 input {
    opacity: 0;
    position: absolute; }
  .Checkbox-style-checkbox-cdb8b2 input:checked + label::before,
  .Checkbox-style-checkbox-cdb8b2 input:checked + label::after {
    background: #353535;
    display: block; }
@font-face {
  font-family: 'Varela-Round';
  src: url("/static/fonts/Varela-Round.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Regular.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-SemiBold.otf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Bold.otf");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-ExtraBold.otf");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Light.otf");
  font-weight: 300;
  font-style: normal; }

@keyframes Input-style-rotate-466e9a {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.Input-style-input-080b1d {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 270px;
  display: inline-block;
  margin-bottom: 15px; }
  .Input-style-input-080b1d .Input-style-label-bf84e6 {
    position: absolute;
    top: 16px;
    left: 0;
    font-size: 16px;
    color: #c7c7c7;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all 0.2s ease;
    /*overflow: hidden;*/
    white-space: nowrap;
    /*text-overflow: ellipsis;*/
    max-width: 135px; }
  .Input-style-input-080b1d .Input-style-border-4639cd {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #353535;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all 0.15s ease; }
  .Input-style-input-080b1d .Input-style-error-24bd48 {
    color: #ed1c24;
    font-size: 13px;
    padding: 3px 0;
    position: absolute;
    min-width: 280px; }
  .Input-style-input-080b1d input,
  .Input-style-input-080b1d textarea {
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 12px 0 4px;
    height: 46px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid #c7c7c7;
    background: none;
    border-radius: 0;
    transition: all 0.15s ease; }
    .Input-style-input-080b1d input:not(:placeholder-shown) + span,
    .Input-style-input-080b1d textarea:not(:placeholder-shown) + span {
      transform: translateY(-18px) scale(0.75);
      color: #000; }
    .Input-style-input-080b1d input:focus,
    .Input-style-input-080b1d textarea:focus {
      background: none;
      outline: none; }
      .Input-style-input-080b1d input:focus + span,
      .Input-style-input-080b1d textarea:focus + span {
        color: #000;
        transform: translateY(-18px) scale(0.75); }
        .Input-style-input-080b1d input:focus + span + .Input-style-border-4639cd,
        .Input-style-input-080b1d textarea:focus + span + .Input-style-border-4639cd {
          transform: scaleX(1); }
  .Input-style-input-080b1d textarea {
    resize: none;
    height: 60px;
    font-size: 14px;
    padding-top: 17px; }
  .Input-style-input-080b1d textarea + span + .Input-style-border-4639cd {
    bottom: 6px; }
  .Input-style-input-080b1d span {
    text-transform: uppercase;
    font-weight: 400; }
  .Input-style-input-080b1d.Input-style-hasError-f4f73f {
    margin-bottom: 30px !important; }
    .Input-style-input-080b1d.Input-style-hasError-f4f73f input,
    .Input-style-input-080b1d.Input-style-hasError-f4f73f textarea {
      border-bottom-color: #ed1c24; }
@font-face {
  font-family: 'Varela-Round';
  src: url("/static/fonts/Varela-Round.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Regular.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-SemiBold.otf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Bold.otf");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-ExtraBold.otf");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Light.otf");
  font-weight: 300;
  font-style: normal; }

@keyframes Select-style-rotate-0b2006 {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.Select-style-Select-d91b12 {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 270px;
  display: inline-block;
  margin-bottom: 15px; }
  .Select-style-Select-d91b12 .Select-style-label-632242 {
    position: absolute;
    top: -4px;
    left: 0;
    font-size: 12px;
    color: #000;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all 0.2s ease;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 135px;
    text-transform: uppercase; }
  .Select-style-Select-d91b12 .Select-style-border-9dcd8f {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #353535;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all 0.15s ease; }
  .Select-style-Select-d91b12 .Select-style-error-242dce {
    color: #ed1c24;
    font-size: 13px;
    padding: 3px 0;
    position: absolute;
    min-width: 280px; }
  .Select-style-Select-d91b12 select {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #c7c7c7;
    /* styling */
    display: inline-block;
    line-height: 1.5em;
    padding: 18px 0 4px;
    background-color: transparent;
    /* reset */
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat; }
    .Select-style-Select-d91b12 select:focus {
      outline: none;
      background-image: linear-gradient(45deg, #353535 50%, transparent 50%), linear-gradient(135deg, transparent 50%, #353535 50%), linear-gradient(to right, #ccc, #ccc);
      background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, calc(100% - 2.5em) 0.5em;
      background-size: 5px 5px, 5px 5px, 1px 1.5em;
      background-repeat: no-repeat;
      border-color: #353535;
      outline: 0; }
    .Select-style-Select-d91b12 select:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 #000; }
    .Select-style-Select-d91b12 select:not(:placeholder-shown) + span {
      transform: translateY(-18px) scale(0.75);
      color: #000; }
  .Select-style-Select-d91b12.Select-style-hasError-74b1d8 {
    margin-bottom: 30px !important; }
    .Select-style-Select-d91b12.Select-style-hasError-74b1d8 select {
      border-bottom-color: #ed1c24; }
@font-face {
  font-family: 'Varela-Round';
  src: url("/static/fonts/Varela-Round.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Regular.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-SemiBold.otf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Bold.otf");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-ExtraBold.otf");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Light.otf");
  font-weight: 300;
  font-style: normal; }

@keyframes Modal-style-rotate-6f3381 {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.Modal-style-wrapper-2df87c {
  background: rgba(0, 0, 0, 0.7);
  height: 0;
  overflow: hidden;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .Modal-style-wrapper-2df87c.Modal-style-open-7dc437 {
    height: auto;
    opacity: 1; }
  .Modal-style-wrapper-2df87c .Modal-style-modalContent-d3ef2e {
    outline: none;
    opacity: 0;
    width: 80%;
    max-width: 520px;
    -webkit-transform: translateY(3%);
    transform: translateY(3%);
    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
    transition: opacity 0.2s, -webkit-transform 0.2s;
    transition: opacity 0.2s, transform 0.2s;
    transition: opacity 0.2s, transform 0.2s, -webkit-transform 0.2s;
    max-height: calc(90vh - 1.5rem); }
    .Modal-style-wrapper-2df87c .Modal-style-modalContent-d3ef2e:after {
      content: '';
      display: block;
      height: 10vh; }
    .Modal-style-wrapper-2df87c .Modal-style-modalContent-d3ef2e.Modal-style-open-7dc437 {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0); }
    .Modal-style-wrapper-2df87c .Modal-style-modalContent-d3ef2e .Modal-style-dialog-e77497 {
      min-width: 280px;
      padding: 20px 20px 0;
      border-radius: 8px;
      background: #fff;
      box-shadow: none; }
      .Modal-style-wrapper-2df87c .Modal-style-modalContent-d3ef2e .Modal-style-dialog-e77497 .Modal-style-issue-df4b10 {
        margin: 15px 0;
        text-align: center; }
        .Modal-style-wrapper-2df87c .Modal-style-modalContent-d3ef2e .Modal-style-dialog-e77497 .Modal-style-issue-df4b10 div {
          margin-bottom: 25px;
          width: 44px;
          height: 44px; }
        .Modal-style-wrapper-2df87c .Modal-style-modalContent-d3ef2e .Modal-style-dialog-e77497 .Modal-style-issue-df4b10 span {
          font-size: 16px;
          display: block; }
    .Modal-style-wrapper-2df87c .Modal-style-modalContent-d3ef2e.Modal-style-small-8a40da .Modal-style-dialog-e77497 {
      max-width: 310px;
      min-width: inherit;
      margin: auto; }

@media (max-width: 760px) {
  .Modal-style-wrapper-2df87c .Modal-style-dialog-e77497 {
    min-width: 100%; } }
@font-face {
  font-family: 'Varela-Round';
  src: url("/static/fonts/Varela-Round.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Regular.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-SemiBold.otf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Bold.otf");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-ExtraBold.otf");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Light.otf");
  font-weight: 300;
  font-style: normal; }

@keyframes Header-style-rotate-6d7507 {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.Header-style-warpper-609647 {
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  background-color: #353535;
  display: block;
  color: white;
  overflow: hidden;
  z-index: 33;
  box-shadow: 0px 5px 15px 0px rgba(28, 28, 28, 0.15);
  position: absolute; }
  .Header-style-warpper-609647 .Header-style-title-e1bae4 {
    font-size: 17px;
    font-weight: 400;
    margin-left: 24px;
    margin-top: 18px;
    text-align: left; }
  .Header-style-warpper-609647 .Header-style-backButton-d50c49 {
    position: absolute;
    border: 0;
    background-image: url(/images/icons/svg/back-btn.svg);
    width: 34px;
    height: 57px;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 9px 14px;
    top: 0;
    left: 15px;
    background-position-y: center;
    background-position-x: 15px;
    margin-left: -15px; }

@media (max-width: 760px) {
  .Header-style-warpper-609647 .Header-style-title-e1bae4 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; } }
@font-face {
  font-family: 'Varela-Round';
  src: url("/static/fonts/Varela-Round.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Regular.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-SemiBold.otf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Bold.otf");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-ExtraBold.otf");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Light.otf");
  font-weight: 300;
  font-style: normal; }

@keyframes Tips-style-rotate-b6fc15 {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.Tips-style-wrapper-129110 {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  overflow: auto;
  padding: 90px 25px 30px; }
  .Tips-style-wrapper-129110 h3 {
    margin-top: 25px;
    max-width: 180px;
    text-align: center; }
  .Tips-style-wrapper-129110 button {
    max-width: 265px; }
  .Tips-style-wrapper-129110 .Tips-style-image-4f7303 {
    display: -webkit-box;
    flex: 1;
    width: 100%;
    min-height: 120px;
    max-height: 280px;
    max-width: 320px;
    margin-top: 20px;
    overflow: initial !important;
    overflow-x: hidden !important; }
    .Tips-style-wrapper-129110 .Tips-style-image-4f7303 > div {
      height: 100%;
      overflow: initial !important;
      display: block;
      position: absolute !important; }
    .Tips-style-wrapper-129110 .Tips-style-image-4f7303 img {
      display: inline-block;
      margin: auto;
      height: 100%; }
  .Tips-style-wrapper-129110 .Tips-style-dots-11a1b0 {
    margin: 30px 0;
    padding: 0; }
    .Tips-style-wrapper-129110 .Tips-style-dots-11a1b0 li {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #c7c7c7;
      margin: 0 5px; }
      .Tips-style-wrapper-129110 .Tips-style-dots-11a1b0 li.Tips-style-active-752c2d {
        background: #353535; }

@media (max-height: 635px) {
  .Tips-style-wrapper-129110 h3 {
    margin-top: 0; } }

@media (max-height: 620px) {
  .Tips-style-wrapper-129110 .Tips-style-dots-11a1b0 {
    margin: 10px 0; } }

@media (max-height: 550px) {
  .Tips-style-wrapper-129110 .Tips-style-image-4f7303 {
    max-width: 260px;
    margin-top: 5px; }
  .Tips-style-wrapper-129110 .Tips-style-dots-11a1b0 {
    margin: 15px 0; } }

@media (max-height: 500px) {
  .Tips-style-wrapper-129110 .Tips-style-image-4f7303 {
    max-width: 230px; } }
@font-face {
  font-family: 'Varela-Round';
  src: url("/static/fonts/Varela-Round.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Regular.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-SemiBold.otf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Bold.otf");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-ExtraBold.otf");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Light.otf");
  font-weight: 300;
  font-style: normal; }

@keyframes Page-style-rotate-1e3e98 {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.Page-style-wrapper-44310c {
  padding-top: 100px;
  height: 100%;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  overflow: auto;
  display: flex;
  flex-direction: column; }
  .Page-style-wrapper-44310c .Page-style-body-8c98e2 {
    flex: 1;
    padding: 0 20px;
    margin: auto;
    width: 100%; }
  .Page-style-wrapper-44310c .Page-style-footer-5c49ef {
    padding: 0px 20px 20px;
    width: 100%; }
    .Page-style-wrapper-44310c .Page-style-footer-5c49ef button {
      max-width: 265px;
      display: block;
      border-radius: 4px; }
    .Page-style-wrapper-44310c .Page-style-footer-5c49ef [data-logo] {
      margin: 0 auto 25px;
      display: block;
      width: 100px; }
  .Page-style-wrapper-44310c .Page-style-privacyFooter-631aab {
    position: fixed;
    bottom: 0;
    background-color: #f7f7f7; }
  .Page-style-wrapper-44310c.Page-style-isLandscope-9fca40 {
    padding-top: 0;
    justify-content: center;
    align-content: center; }
    .Page-style-wrapper-44310c.Page-style-isLandscope-9fca40 .Page-style-footer-5c49ef {
      display: none; }
  .Page-style-wrapper-44310c.Page-style-dark-acafc5 {
    background: #000;
    color: #fff;
    padding-top: 50px; }
    .Page-style-wrapper-44310c.Page-style-dark-acafc5 div [class^='b-icon-warning'] {
      background: none;
      border: 1px solid; }
    .Page-style-wrapper-44310c.Page-style-dark-acafc5 .Page-style-footer-5c49ef button {
      background: none;
      border-color: #fff; }
@font-face {
  font-family: 'Varela-Round';
  src: url("/static/fonts/Varela-Round.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Regular.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-SemiBold.otf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Bold.otf");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-ExtraBold.otf");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Light.otf");
  font-weight: 300;
  font-style: normal; }

@keyframes Message-style-rotate-f6044a {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.Message-style-wrapper-13fe2a {
  background: #fff;
  z-index: 35;
  text-align: center; }
  .Message-style-wrapper-13fe2a .Message-style-content-2c77ad {
    max-width: 350px;
    margin: auto; }
    .Message-style-wrapper-13fe2a .Message-style-content-2c77ad .Message-style-completed-16f077 {
      min-width: 95px;
      min-height: 95px;
      width: 95px;
      height: 95px;
      border-radius: 50%;
      background: #353535;
      margin: 35px auto 70px;
      box-shadow: 0 0 0 10px rgba(53, 53, 53, 0.6), 0 0 0 20px rgba(53, 53, 53, 0.35), 0 0 0 30px rgba(53, 53, 53, 0.15);
      display: flex;
      align-content: center; }
      .Message-style-wrapper-13fe2a .Message-style-content-2c77ad .Message-style-completed-16f077:before {
        content: '';
        position: relative;
        top: -7px;
        width: 15px;
        margin: auto;
        height: 40px;
        border-width: 4px;
        border-color: #fff;
        border-right-style: solid;
        border-bottom-style: solid;
        transform: rotate(45deg); }
    .Message-style-wrapper-13fe2a .Message-style-content-2c77ad .Message-style-completedGreen-88e4ea {
      min-width: 95px;
      min-height: 95px;
      width: 95px;
      height: 95px;
      border-radius: 50%;
      background: #07bc0c;
      margin: 35px auto 70px;
      box-shadow: 0 0 0 10px rgba(7, 188, 12, 0.6), 0 0 0 20px rgba(7, 188, 12, 0.35), 0 0 0 30px rgba(7, 188, 12, 0.15);
      display: flex;
      align-content: center; }
      .Message-style-wrapper-13fe2a .Message-style-content-2c77ad .Message-style-completedGreen-88e4ea:before {
        content: '';
        position: relative;
        top: -7px;
        width: 15px;
        margin: auto;
        height: 40px;
        border-width: 4px;
        border-color: #fff;
        border-right-style: solid;
        border-bottom-style: solid;
        transform: rotate(45deg); }
    .Message-style-wrapper-13fe2a .Message-style-content-2c77ad .Message-style-cancelled-9a7b9d {
      min-width: 95px;
      min-height: 95px;
      width: 95px;
      height: 95px;
      border-radius: 50%;
      background: #FFC107;
      margin: 35px auto 70px;
      box-shadow: 0 0 0 10px rgba(255, 193, 7, 0.6), 0 0 0 20px rgba(255, 193, 7, 0.35), 0 0 0 30px rgba(255, 193, 7, 0.15);
      display: flex;
      align-content: center; }
      .Message-style-wrapper-13fe2a .Message-style-content-2c77ad .Message-style-cancelled-9a7b9d:before {
        content: '';
        position: relative;
        top: -7px;
        width: 15px;
        margin: auto;
        height: 40px;
        border-width: 4px;
        border-color: #fff;
        border-right-style: solid;
        border-bottom-style: solid;
        transform: rotate(45deg); }
    .Message-style-wrapper-13fe2a .Message-style-content-2c77ad .Message-style-issue-1a7cb5 {
      text-align: center;
      margin-bottom: 25px;
      z-index: 350; }
      .Message-style-wrapper-13fe2a .Message-style-content-2c77ad .Message-style-issue-1a7cb5 .Message-style-warning-b908a8 {
        margin: 0 auto 35px; }
      .Message-style-wrapper-13fe2a .Message-style-content-2c77ad .Message-style-issue-1a7cb5 span {
        display: block;
        max-width: 245px;
        margin: auto;
        font-weight: 600; }
    .Message-style-wrapper-13fe2a .Message-style-content-2c77ad .Message-style-landscope-cad5da {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex; }
      .Message-style-wrapper-13fe2a .Message-style-content-2c77ad .Message-style-landscope-cad5da .Message-style-content-2c77ad {
        max-width: 250px;
        border: 1px solid;
        border-radius: 5px;
        margin: auto;
        padding: 30px;
        text-align: center; }
        .Message-style-wrapper-13fe2a .Message-style-content-2c77ad .Message-style-landscope-cad5da .Message-style-content-2c77ad img {
          display: block;
          width: 60px;
          margin: 25px auto 0; }
    .Message-style-wrapper-13fe2a .Message-style-content-2c77ad ul,
    .Message-style-wrapper-13fe2a .Message-style-content-2c77ad ol {
      margin: 0;
      padding: 0;
      padding-left: 30px;
      text-align: left; }
      .Message-style-wrapper-13fe2a .Message-style-content-2c77ad ul li,
      .Message-style-wrapper-13fe2a .Message-style-content-2c77ad ol li {
        margin-bottom: 10px; }
@font-face {
  font-family: 'Varela-Round';
  src: url("/static/fonts/Varela-Round.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Regular.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-SemiBold.otf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Bold.otf");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-ExtraBold.otf");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Light.otf");
  font-weight: 300;
  font-style: normal; }

@keyframes LoadingSpinner-style-rotate-0188f4 {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.LoadingSpinner-style-wrapper-0789c6 .LoadingSpinner-style-title-e019a2 {
  color: #fff;
  margin-top: -33px;
  margin-bottom: 7px; }

.LoadingSpinner-style-wrapper-0789c6 .LoadingSpinner-style-subtitle-ecd4a9 {
  font-size: 14px;
  color: #fff;
  margin-bottom: 25px; }

.LoadingSpinner-style-wrapper-0789c6 .LoadingSpinner-style-spinner-364fcc img {
  animation: LoadingSpinner-style-rotate-0188f4 1s linear infinite;
  width: 70px; }

.LoadingSpinner-style-wrapper-0789c6.LoadingSpinner-style-dark-208d10 {
  background: black; }
@font-face {
  font-family: 'Varela-Round';
  src: url("/static/fonts/Varela-Round.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Regular.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-SemiBold.otf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Bold.otf");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-ExtraBold.otf");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Light.otf");
  font-weight: 300;
  font-style: normal; }

@keyframes LoadingBar-style-rotate-84af8b {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.LoadingBar-style-wrapper-fa6bb6 .LoadingBar-style-title-e7c3d0 {
  color: #fff;
  margin-top: -33px;
  margin-bottom: 20px; }

.LoadingBar-style-wrapper-fa6bb6 .LoadingBar-style-progress-c2af9d {
  height: 10px;
  background: #000;
  width: 80%;
  border-radius: 3px;
  margin: 0 auto;
  position: relative;
  max-width: 300px; }
  .LoadingBar-style-wrapper-fa6bb6 .LoadingBar-style-progress-c2af9d .LoadingBar-style-bar-816564 {
    border-radius: 3px;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    transition: width 0.6s ease; }
@font-face {
  font-family: 'Varela-Round';
  src: url("/static/fonts/Varela-Round.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Regular.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-SemiBold.otf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Bold.otf");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-ExtraBold.otf");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Light.otf");
  font-weight: 300;
  font-style: normal; }

@keyframes BackOfCard-style-rotate-199d63 {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.BackOfCard-style-wrapper-6900ab {
  background: #000;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 34; }
  .BackOfCard-style-wrapper-6900ab * {
    color: white; }
  .BackOfCard-style-wrapper-6900ab .BackOfCard-style-title-164f46 {
    font-size: 19px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    line-height: 30px; }
  .BackOfCard-style-wrapper-6900ab .BackOfCard-style-icon-cc0ed5 {
    width: 100%; }
    .BackOfCard-style-wrapper-6900ab .BackOfCard-style-icon-cc0ed5 svg {
      max-height: 380px; }
  .BackOfCard-style-wrapper-6900ab .BackOfCard-style-button-d1b71e {
    background: none !important;
    border-color: #fff !important;
    font-size: 16px;
    width: 200px;
    opacity: 0;
    height: 41px !important;
    transition: opacity 0.7s ease-in; }
    .BackOfCard-style-wrapper-6900ab .BackOfCard-style-button-d1b71e.BackOfCard-style-open-a76368 {
      opacity: 1; }

@media (max-width: 750px) {
  .BackOfCard-style-wrapper-6900ab .BackOfCard-style-icon-cc0ed5,
  .BackOfCard-style-wrapper-6900ab .BackOfCard-style-icon-cc0ed5 svg {
    max-height: 230px; } }

@media (max-height: 321px) {
  .BackOfCard-style-wrapper-6900ab .BackOfCard-style-icon-cc0ed5,
  .BackOfCard-style-wrapper-6900ab .BackOfCard-style-icon-cc0ed5 svg {
    max-height: 180px; } }

@media (max-height: 265px) {
  .BackOfCard-style-wrapper-6900ab .BackOfCard-style-icon-cc0ed5 {
    max-height: 180px; }
    .BackOfCard-style-wrapper-6900ab .BackOfCard-style-icon-cc0ed5 svg {
      margin-top: -15px; } }
@font-face {
  font-family: 'Varela-Round';
  src: url("/static/fonts/Varela-Round.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Regular.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-SemiBold.otf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Bold.otf");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-ExtraBold.otf");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Light.otf");
  font-weight: 300;
  font-style: normal; }

@keyframes SendSMS-style-rotate-e1f21f {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.SendSMS-style-wrapper-94c290 .SendSMS-style-container-b6b3a6 {
  width: 400px;
  margin: 120px auto 0; }
  .SendSMS-style-wrapper-94c290 .SendSMS-style-container-b6b3a6 .SendSMS-style-logo-77a33d {
    margin: 0 auto 35px;
    display: block; }
  .SendSMS-style-wrapper-94c290 .SendSMS-style-container-b6b3a6 .SendSMS-style-block-68b052 {
    background: #fff;
    box-shadow: 0 2px 20px #eee; }
    .SendSMS-style-wrapper-94c290 .SendSMS-style-container-b6b3a6 .SendSMS-style-block-68b052 .SendSMS-style-title-6943cc {
      padding: 20px;
      text-align: center;
      text-transform: uppercase;
      background: #353535;
      color: #fff; }
    .SendSMS-style-wrapper-94c290 .SendSMS-style-container-b6b3a6 .SendSMS-style-block-68b052 .SendSMS-style-content-411aab {
      padding: 20px 35px; }
      .SendSMS-style-wrapper-94c290 .SendSMS-style-container-b6b3a6 .SendSMS-style-block-68b052 .SendSMS-style-content-411aab p {
        opacity: 0.8;
        font-size: 14px;
        text-align: center;
        margin: 0 auto 30px;
        max-width: 300px; }
        .SendSMS-style-wrapper-94c290 .SendSMS-style-container-b6b3a6 .SendSMS-style-block-68b052 .SendSMS-style-content-411aab p a {
          color: inherit;
          text-decoration: underline; }
      .SendSMS-style-wrapper-94c290 .SendSMS-style-container-b6b3a6 .SendSMS-style-block-68b052 .SendSMS-style-content-411aab .SendSMS-style-input-f4b475 {
        display: flex; }
        .SendSMS-style-wrapper-94c290 .SendSMS-style-container-b6b3a6 .SendSMS-style-block-68b052 .SendSMS-style-content-411aab .SendSMS-style-input-f4b475 .SendSMS-style-code-d559e2 {
          padding-right: 10px; }
@font-face {
  font-family: 'Varela-Round';
  src: url("/static/fonts/Varela-Round.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Regular.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-SemiBold.otf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Bold.otf");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-ExtraBold.otf");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Light.otf");
  font-weight: 300;
  font-style: normal; }

@keyframes Privacy-style-rotate-b1f64d {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.Privacy-style-wrapper-372f58 .Privacy-style-content-1c976b {
  height: calc(100% - 108px);
  overflow-y: auto; }

.Privacy-style-wrapper-372f58 h3 {
  font-weight: 600; }

.Privacy-style-wrapper-372f58 p,
.Privacy-style-wrapper-372f58 ul li {
  font-weight: 300; }

.Privacy-style-wrapper-372f58 ul {
  margin-bottom: 25px;
  margin-top: 20px !important; }
@font-face {
  font-family: 'Varela-Round';
  src: url("/static/fonts/Varela-Round.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Regular.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-SemiBold.otf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Bold.otf");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-ExtraBold.otf");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Light.otf");
  font-weight: 300;
  font-style: normal; }

@keyframes Overview-style-rotate-0cab3e {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.Overview-style-wrapper-541b96 {
  text-align: center;
  margin-top: -15px; }
  .Overview-style-wrapper-541b96 .Overview-style-steps-540a52 {
    margin: 15px auto 0;
    max-width: 545px; }
    .Overview-style-wrapper-541b96 .Overview-style-steps-540a52 .Overview-style-item-2c6851 {
      position: relative;
      padding: 25px 20px 20px; }
      .Overview-style-wrapper-541b96 .Overview-style-steps-540a52 .Overview-style-item-2c6851 h5 {
        top: 15px;
        position: absolute;
        font-size: 16px;
        font-weight: 600; }
      .Overview-style-wrapper-541b96 .Overview-style-steps-540a52 .Overview-style-item-2c6851 svg {
        fill: #000;
        margin-bottom: 5px; }
@font-face {
  font-family: 'Varela-Round';
  src: url("/static/fonts/Varela-Round.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Regular.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-SemiBold.otf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Bold.otf");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-ExtraBold.otf");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Light.otf");
  font-weight: 300;
  font-style: normal; }

@keyframes IdSelection-style-rotate-4af6b5 {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.IdSelection-style-wrapper-10acb1 {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 25px;
  text-align: center;
  max-width: 545px;
  margin: auto; }
  .IdSelection-style-wrapper-10acb1 .IdSelection-style-countryTitle-6fea06 {
    font-size: 23px;
    margin-bottom: 45px; }
  .IdSelection-style-wrapper-10acb1 .IdSelection-style-blocks-112f0b {
    margin-top: 55px;
    min-height: 260px; }
    .IdSelection-style-wrapper-10acb1 .IdSelection-style-blocks-112f0b .IdSelection-style-item-c6bea7 {
      display: flex;
      padding: 10px 5px;
      height: 105px; }
      .IdSelection-style-wrapper-10acb1 .IdSelection-style-blocks-112f0b .IdSelection-style-item-c6bea7 .IdSelection-style-icon-0aa6f2 {
        width: 110px;
        background-position: center;
        background-size: 90%;
        background-repeat: no-repeat; }
      .IdSelection-style-wrapper-10acb1 .IdSelection-style-blocks-112f0b .IdSelection-style-item-c6bea7 .IdSelection-style-content-a2260b {
        padding-left: 15px;
        text-align: left;
        display: flex;
        align-self: center;
        flex-direction: column; }
        .IdSelection-style-wrapper-10acb1 .IdSelection-style-blocks-112f0b .IdSelection-style-item-c6bea7 .IdSelection-style-content-a2260b h4 {
          font-size: 17px;
          font-weight: 500;
          margin: 0;
          margin-bottom: 5px; }
        .IdSelection-style-wrapper-10acb1 .IdSelection-style-blocks-112f0b .IdSelection-style-item-c6bea7 .IdSelection-style-content-a2260b span {
          font-size: 13px; }

@media (max-height: 510px) {
  .IdSelection-style-wrapper-10acb1 {
    display: block;
    position: relative;
    padding: 0; }
    .IdSelection-style-wrapper-10acb1 .IdSelection-style-blocks-112f0b {
      margin-top: 25px; } }
@font-face {
  font-family: 'Varela-Round';
  src: url("/static/fonts/Varela-Round.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Regular.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-SemiBold.otf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Bold.otf");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-ExtraBold.otf");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Light.otf");
  font-weight: 300;
  font-style: normal; }

@keyframes Country-style-rotate-994797 {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.Country-style-wrapper-131d36 {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 25px;
  text-align: center;
  max-width: 545px;
  margin: auto; }
  .Country-style-wrapper-131d36 .Country-style-countryTitle-a39ee4 {
    font-size: 23px;
    margin-bottom: 45px; }
  .Country-style-wrapper-131d36 .Country-style-blocks-194385 {
    margin-top: 55px;
    min-height: 260px; }
    .Country-style-wrapper-131d36 .Country-style-blocks-194385 .Country-style-item-eb50d0 {
      display: flex;
      padding: 10px 5px;
      height: 105px; }
      .Country-style-wrapper-131d36 .Country-style-blocks-194385 .Country-style-item-eb50d0 .Country-style-icon-f40439 {
        width: 110px;
        background-position: center;
        background-size: 90%;
        background-repeat: no-repeat; }
      .Country-style-wrapper-131d36 .Country-style-blocks-194385 .Country-style-item-eb50d0 .Country-style-content-6e46ee {
        padding-left: 15px;
        text-align: left;
        display: flex;
        align-self: center;
        flex-direction: column; }
        .Country-style-wrapper-131d36 .Country-style-blocks-194385 .Country-style-item-eb50d0 .Country-style-content-6e46ee h4 {
          font-size: 17px;
          font-weight: 500;
          margin: 0;
          margin-bottom: 5px; }
        .Country-style-wrapper-131d36 .Country-style-blocks-194385 .Country-style-item-eb50d0 .Country-style-content-6e46ee span {
          font-size: 13px; }

@media (max-height: 510px) {
  .Country-style-wrapper-131d36 {
    display: block;
    position: relative;
    padding: 0; }
    .Country-style-wrapper-131d36 .Country-style-blocks-194385 {
      margin-top: 25px; } }

.Country-style-wrapper-131d36 .Country-style-title-d2711d {
  margin: 0 auto 0;
  width: 75%; }

.Country-style-wrapper-131d36 .Country-style-blocks-194385 {
  margin-top: 45px;
  height: calc(100% - 240px);
  overflow-y: auto; }
  .Country-style-wrapper-131d36 .Country-style-blocks-194385 .Country-style-item-eb50d0 {
    margin-bottom: 15px;
    height: 90px; }
    .Country-style-wrapper-131d36 .Country-style-blocks-194385 .Country-style-item-eb50d0 .Country-style-icon-f40439 svg {
      margin-top: 4%;
      width: 90%;
      height: 90%;
      display: block;
      fill: #000; }
    .Country-style-wrapper-131d36 .Country-style-blocks-194385 .Country-style-item-eb50d0 .Country-style-content-6e46ee {
      padding-left: 15px;
      text-align: left;
      display: flex;
      align-self: center;
      flex-direction: column; }
      .Country-style-wrapper-131d36 .Country-style-blocks-194385 .Country-style-item-eb50d0 .Country-style-content-6e46ee h4 {
        font-size: 17px;
        font-weight: 500;
        margin: 0;
        margin-bottom: 5px; }
@font-face {
  font-family: 'Varela-Round';
  src: url("/static/fonts/Varela-Round.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Regular.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-SemiBold.otf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Bold.otf");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-ExtraBold.otf");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Light.otf");
  font-weight: 300;
  font-style: normal; }

@keyframes VerifyDetails-style-rotate-b98261 {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.VerifyDetails-style-wrapper-5392f5 {
  padding: 0px 15px;
  margin-top: -15px;
  text-align: left; }
  .VerifyDetails-style-wrapper-5392f5 .VerifyDetails-style-title-a35325 {
    margin-bottom: 30px; }
  .VerifyDetails-style-wrapper-5392f5 .VerifyDetails-style-container-efb44c {
    padding: 0 15px;
    max-width: 440px; }
  .VerifyDetails-style-wrapper-5392f5 .VerifyDetails-style-input-7a7af0.VerifyDetails-style-halfWith-b58f55 {
    max-width: 50%;
    margin-right: 15px !important; }
  .VerifyDetails-style-wrapper-5392f5 .VerifyDetails-style-input-7a7af0:last-child {
    margin-bottom: 0; }
  .VerifyDetails-style-wrapper-5392f5 .VerifyDetails-style-isCorrect-7585a5 {
    display: flex; }
    .VerifyDetails-style-wrapper-5392f5 .VerifyDetails-style-isCorrect-7585a5 .VerifyDetails-style-input-7a7af0 {
      margin: 0;
      margin-bottom: 15px; }
    .VerifyDetails-style-wrapper-5392f5 .VerifyDetails-style-isCorrect-7585a5 .VerifyDetails-style-checkbox-8a2d26 {
      margin-top: 15px;
      font-size: 14px; }

@media (max-width: 650px) {
  .VerifyDetails-style-wrapper-5392f5 {
    padding: 0; } }
@font-face {
  font-family: 'Varela-Round';
  src: url("/static/fonts/Varela-Round.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Regular.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-SemiBold.otf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Bold.otf");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-ExtraBold.otf");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Light.otf");
  font-weight: 300;
  font-style: normal; }

@keyframes VerifyAddress-style-rotate-e2ee42 {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.VerifyAddress-style-wrapper-ee76be {
  position: relative; }
  .VerifyAddress-style-wrapper-ee76be .VerifyAddress-style-title-741c83 {
    margin-bottom: 25px; }
  .VerifyAddress-style-wrapper-ee76be .VerifyAddress-style-atAddress-e10c19 {
    margin: 10px 0 30px;
    max-width: 270px; }
  .VerifyAddress-style-wrapper-ee76be .VerifyAddress-style-input-9b9cfd.VerifyAddress-style-halfWith-943b29 {
    max-width: 50%;
    margin-right: 15px !important; }
  .VerifyAddress-style-wrapper-ee76be .VerifyAddress-style-input-9b9cfd:last-child {
    margin-bottom: 0; }
  .VerifyAddress-style-wrapper-ee76be .VerifyAddress-style-addresses-0d5862 {
    display: block;
    background: #fff;
    border: 1px solid #ccc;
    padding: 0;
    position: absolute;
    width: calc(100% - 30px);
    box-shadow: -1px 1px 3px #eee;
    max-height: 200px;
    overflow: auto;
    margin-top: -15px;
    z-index: 2; }
    .VerifyAddress-style-wrapper-ee76be .VerifyAddress-style-addresses-0d5862 li {
      display: block;
      padding: 13px;
      border-bottom: 1px solid #ddd;
      font-size: 12px; }
      .VerifyAddress-style-wrapper-ee76be .VerifyAddress-style-addresses-0d5862 li:last-child {
        border-bottom: 0; }
  .VerifyAddress-style-wrapper-ee76be .VerifyAddress-style-countries-f3be24 {
    display: block;
    background: #fff;
    border: 1px solid #ccc;
    padding: 0;
    position: absolute;
    width: calc(100% - 30px);
    box-shadow: -1px 1px 3px #eee;
    max-height: 200px;
    overflow: auto;
    margin-top: -15px;
    z-index: 2; }
    .VerifyAddress-style-wrapper-ee76be .VerifyAddress-style-countries-f3be24 li {
      display: block;
      padding: 13px;
      border-bottom: 1px solid #ddd;
      font-size: 12px; }
      .VerifyAddress-style-wrapper-ee76be .VerifyAddress-style-countries-f3be24 li:last-child {
        border-bottom: 0; }
@font-face {
  font-family: 'Varela-Round';
  src: url("/static/fonts/Varela-Round.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Regular.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-SemiBold.otf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Bold.otf");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-ExtraBold.otf");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Light.otf");
  font-weight: 300;
  font-style: normal; }

@keyframes CaptureVisa-style-rotate-1b9e2b {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.CaptureVisa-style-wrapper-a20894 {
  padding: 0 20px;
  margin: auto;
  height: calc( 100% - 150px); }
  .CaptureVisa-style-wrapper-a20894 h2 {
    margin-bottom: 25px; }
  .CaptureVisa-style-wrapper-a20894 .CaptureVisa-style-title-011957 {
    font-size: 19px;
    color: white;
    text-align: center; }
  .CaptureVisa-style-wrapper-a20894 .CaptureVisa-style-footer-a57f21 {
    padding: 0px 20px 20px; }
    .CaptureVisa-style-wrapper-a20894 .CaptureVisa-style-footer-a57f21 button {
      max-width: 265px;
      display: block;
      border-radius: 4px;
      border-color: white;
      color: white; }
    .CaptureVisa-style-wrapper-a20894 .CaptureVisa-style-footer-a57f21 [data-logo] {
      margin: 0 auto 25px;
      display: block;
      width: 100px; }
@font-face {
  font-family: 'Varela-Round';
  src: url("/static/fonts/Varela-Round.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Regular.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-SemiBold.otf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Bold.otf");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-ExtraBold.otf");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Light.otf");
  font-weight: 300;
  font-style: normal; }

@keyframes CaptureVisa-style-rotate-6cad5c {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.CaptureVisa-style-wrapper-ae9011 {
  padding-top: 100px;
  height: 100%;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  overflow: auto;
  display: flex;
  flex-direction: column; }
@font-face {
  font-family: 'Varela-Round';
  src: url("/static/fonts/Varela-Round.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Regular.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-SemiBold.otf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Bold.otf");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-ExtraBold.otf");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Light.otf");
  font-weight: 300;
  font-style: normal; }

@keyframes ConfirmDetails-style-rotate-ab370b {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.ConfirmDetails-style-wrapper-e6e931 button {
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s; }

.ConfirmDetails-style-wrapper-e6e931.ConfirmDetails-style-open-5f0222 button {
  opacity: 1; }

.ConfirmDetails-style-wrapper-e6e931 .ConfirmDetails-style-animTitle-4dbe01 {
  text-align: center;
  margin-top: 1rem;
  font-size: 17px; }

.ConfirmDetails-style-wrapper-e6e931 .ConfirmDetails-style-content-65eea3 {
  margin: 15px 0 0;
  text-align: center;
  font-family: "Gilroy", Arial, Helvetica, sans-serif; }
@font-face {
  font-family: 'Varela-Round';
  src: url("/static/fonts/Varela-Round.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Regular.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-SemiBold.otf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Bold.otf");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-ExtraBold.otf");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Light.otf");
  font-weight: 300;
  font-style: normal; }

@keyframes Results-style-rotate-7016c7 {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.Results-style-wrapper-b45e91 [class^='Message-style-content'] {
  max-width: 100% !important; }

.Results-style-wrapper-b45e91 ul {
  display: block;
  margin: 0 !important;
  padding: 0 !important; }
  .Results-style-wrapper-b45e91 ul li {
    display: block;
    float: left;
    width: 50%;
    position: relative;
    padding: 15px 13px;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    line-height: 0;
    height: 54px;
    margin-bottom: 0 !important;
    text-transform: capitalize; }
    .Results-style-wrapper-b45e91 ul li:before {
      content: '';
      width: 24px;
      height: 24px;
      display: inline-block;
      position: relative;
      margin-right: 15px;
      background-image: url(/images/icons/png/status@2x.png);
      background-size: 24px; }
    .Results-style-wrapper-b45e91 ul li.Results-style-rFailed-bda2bd:before {
      background-position: 0 -24px; }
    .Results-style-wrapper-b45e91 ul li.Results-style-bgSuccess-0714bc {
      background: #00c853; }
      .Results-style-wrapper-b45e91 ul li.Results-style-bgSuccess-0714bc:before {
        background-position: 0 -48px; }
    .Results-style-wrapper-b45e91 ul li.Results-style-bgDanger-bfca18 {
      background: #ed1c24; }
      .Results-style-wrapper-b45e91 ul li.Results-style-bgDanger-bfca18:before {
        background-position: 0 -72px; }
    .Results-style-wrapper-b45e91 ul li.Results-style-bgOrange-d47fbd {
      background: #ffde00; }
      .Results-style-wrapper-b45e91 ul li.Results-style-bgOrange-d47fbd:before {
        background-position: 0 -96px; }
    .Results-style-wrapper-b45e91 ul li.Results-style-title-db6dfa:before {
      display: none; }
    .Results-style-wrapper-b45e91 ul li.Results-style-tl-6117eb {
      font-size: 13px; }
    .Results-style-wrapper-b45e91 ul li.Results-style-title-db6dfa {
      padding-left: 0;
      padding-right: 0;
      color: inherit;
      line-height: 18px;
      margin-bottom: 5px !important; }
      .Results-style-wrapper-b45e91 ul li.Results-style-title-db6dfa b {
        font-size: 11px;
        margin-top: -5px; }
    .Results-style-wrapper-b45e91 ul li.Results-style-status-90614b {
      color: #00c853;
      margin-bottom: 15px !important;
      display: inline-flex;
      align-content: center;
      align-items: center; }
    .Results-style-wrapper-b45e91 ul li.Results-style-status-90614b.Results-style-rFailed-bda2bd {
      color: #ed1c24; }
    .Results-style-wrapper-b45e91 ul li small {
      display: block;
      font-size: 10px;
      font-weight: bold;
      margin-top: -4px;
      margin-bottom: -8px;
      padding-left: 39px; }
    .Results-style-wrapper-b45e91 ul li .Results-style-text-305dee {
      position: relative;
      margin-top: -16px;
      display: block;
      margin-left: 39px; }

.Results-style-wrapper-b45e91 .Results-style-textSuccess-353b45 {
  color: #00c853; }

.Results-style-wrapper-b45e91 .Results-style-textDanger-6b59be {
  color: #ed1c24; }
@font-face {
  font-family: 'Varela-Round';
  src: url("/static/fonts/Varela-Round.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Regular.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-SemiBold.otf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Bold.otf");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-ExtraBold.otf");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Light.otf");
  font-weight: 300;
  font-style: normal; }

@keyframes Intro-style-rotate-a7d972 {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.Intro-style-wrapper-04aa2a {
  text-align: center; }
  .Intro-style-wrapper-04aa2a .Intro-style-images-fc3342 {
    margin: 25px auto 0; }
    .Intro-style-wrapper-04aa2a .Intro-style-images-fc3342 img {
      margin: auto;
      display: block;
      max-height: 345px; }

.Intro-style-content-da0383 .Intro-style-tipsHeader-cfcffe .Intro-style-title-ffd3a4 {
  margin-top: 25px;
  width: 100%; }
@font-face {
  font-family: 'Varela-Round';
  src: url("/static/fonts/Varela-Round.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Regular.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-SemiBold.otf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Bold.otf");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-ExtraBold.otf");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Light.otf");
  font-weight: 300;
  font-style: normal; }

@keyframes Animation-style-rotate-79a124 {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.Animation-style-wrapper-3e6ec7 {
  background: #000;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 34; }
  .Animation-style-wrapper-3e6ec7 * {
    color: white; }
  .Animation-style-wrapper-3e6ec7 .Animation-style-animation-04f354 {
    height: 100%; }
  .Animation-style-wrapper-3e6ec7 svg g[transform='matrix(1,0,0,1,187.5,573.5)'],
  .Animation-style-wrapper-3e6ec7 svg g[transform='matrix(1,0,0,1,187.5,585.5)'] {
    display: none !important; }
  .Animation-style-wrapper-3e6ec7 .Animation-style-button-6a246f {
    background: none !important;
    border-color: #fff !important;
    font-size: 18px;
    opacity: 0;
    height: auto !important;
    transition: opacity 0.7s ease-in;
    position: fixed;
    bottom: 50px;
    min-width: 200px; }
    .Animation-style-wrapper-3e6ec7 .Animation-style-button-6a246f.Animation-style-open-d07843 {
      opacity: 1; }

@media (min-width: 675px) {
  .Animation-style-wrapper-3e6ec7 .Animation-style-animation-04f354 {
    height: 80%; }
  .Animation-style-wrapper-3e6ec7 .Animation-style-button-6a246f {
    display: block;
    position: relative;
    margin: auto;
    margin-top: -40px; } }
@font-face {
  font-family: 'Varela-Round';
  src: url("/static/fonts/Varela-Round.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Regular.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-SemiBold.otf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Bold.otf");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-ExtraBold.otf");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Light.otf");
  font-weight: 300;
  font-style: normal; }

@keyframes Prepare-style-rotate-927bf4 {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.Prepare-style-wrapper-4c29aa {
  text-align: center; }
  .Prepare-style-wrapper-4c29aa .Prepare-style-dontHave-31b9b2 {
    margin-top: 40px;
    max-width: 230px;
    margin: 50px auto 0; }
    .Prepare-style-wrapper-4c29aa .Prepare-style-dontHave-31b9b2 img {
      display: block;
      margin: 25px auto; }
    .Prepare-style-wrapper-4c29aa .Prepare-style-dontHave-31b9b2 span {
      font-size: 13px; }

@media (max-height: 595px) {
  .Prepare-style-wrapper-4c29aa {
    margin-top: -20px; }
    .Prepare-style-wrapper-4c29aa .Prepare-style-dontHave-31b9b2 {
      margin-top: 10px; } }
@font-face {
  font-family: 'Varela-Round';
  src: url("/static/fonts/Varela-Round.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Regular.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-SemiBold.otf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Bold.otf");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-ExtraBold.otf");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Light.otf");
  font-weight: 300;
  font-style: normal; }

@keyframes Prompts-style-rotate-82af7a {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.Prompts-style-wrapper-99b64c .Prompts-style-scrim-3808af {
  background-image: url(/images/background/face-scan-scrim.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 45px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2; }
  .Prompts-style-wrapper-99b64c .Prompts-style-scrim-3808af.Prompts-style-success-ea368b:before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 45px;
    left: 0;
    z-index: 2;
    background-image: url(/images/background/face-scan-scrim-green.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: Prompts-style-opacity-65af06 0.6s; }
  .Prompts-style-wrapper-99b64c .Prompts-style-scrim-3808af .Prompts-style-header-960892 {
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 100px;
    color: #fff; }
    .Prompts-style-wrapper-99b64c .Prompts-style-scrim-3808af .Prompts-style-header-960892 div[data-icon] {
      width: 48px;
      height: 48px;
      margin: 13px auto;
      position: relative; }
      .Prompts-style-wrapper-99b64c .Prompts-style-scrim-3808af .Prompts-style-header-960892 div[data-icon].Prompts-style-hasArrow-c1bac7:before {
        content: '';
        background-image: url(/images/icons/svg/arrow-left.svg);
        background-size: contain;
        width: 26px;
        height: 26px;
        position: absolute;
        left: -40px;
        top: 6px; }
      .Prompts-style-wrapper-99b64c .Prompts-style-scrim-3808af .Prompts-style-header-960892 div[data-icon].Prompts-style-right-3fd150 {
        transform: scaleX(-1); }
    .Prompts-style-wrapper-99b64c .Prompts-style-scrim-3808af .Prompts-style-header-960892 h4 {
      margin: 0;
      text-align: center;
      animation: Prompts-style-opacity-65af06 0.8s;
      font-weight: 500;
      color: white; }

.Prompts-style-wrapper-99b64c .Prompts-style-audio-9f5d14 {
  position: fixed;
  z-index: 3;
  left: 0;
  right: 0;
  bottom: 40px;
  margin: auto;
  width: 150px; }
  .Prompts-style-wrapper-99b64c .Prompts-style-audio-9f5d14.Prompts-style-muted-7bc093 {
    opacity: 0.8; }
    .Prompts-style-wrapper-99b64c .Prompts-style-audio-9f5d14.Prompts-style-muted-7bc093:before {
      content: '';
      width: 3px;
      height: 41px;
      background: white;
      position: absolute;
      transform: rotate(-45deg);
      margin-left: 16px;
      top: -6px; }
  .Prompts-style-wrapper-99b64c .Prompts-style-audio-9f5d14 img {
    width: 100%; }

@keyframes Prompts-style-opacity-65af06 {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@media (max-width: 750px) and (orientation: landscape) {
  .Prompts-style-wrapper-99b64c .Prompts-style-scrim-3808af {
    background: none; } }
@font-face {
  font-family: 'Varela-Round';
  src: url("/static/fonts/Varela-Round.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Regular.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-SemiBold.otf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Bold.otf");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-ExtraBold.otf");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Light.otf");
  font-weight: 300;
  font-style: normal; }

@keyframes SelfiesTip-style-rotate-fa54b6 {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.SelfiesTip-style-wrapper-ef6cef img {
  margin-top: 25px;
  width: 100%;
  max-width: 270px; }

@media (max-height: 595px) {
  .SelfiesTip-style-wrapper-ef6cef {
    margin-top: -20px; } }
@font-face {
  font-family: 'Varela-Round';
  src: url("/static/fonts/Varela-Round.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Regular.otf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-SemiBold.otf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Bold.otf");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-ExtraBold.otf");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("/static/fonts/Gilroy-Light.otf");
  font-weight: 300;
  font-style: normal; }

@keyframes Face-style-rotate-f7158b {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.Face-style-wrapper-854685 {
  font-weight: 300; }
  .Face-style-wrapper-854685 .Face-style-content-64eccc {
    margin-top: 25px; }
    .Face-style-wrapper-854685 .Face-style-content-64eccc h3 {
      font-size: 19px;
      font-weight: 300; }
  .Face-style-wrapper-854685 img {
    margin-top: 25px;
    width: 100%;
    max-width: 190px;
    border-radius: 10px; }

@media (max-height: 625px) {
  .Face-style-wrapper-854685 .Face-style-content-64eccc {
    margin-top: 10px; }
  .Face-style-wrapper-854685 img {
    max-width: 150px; } }

@media (max-height: 545px) {
  .Face-style-wrapper-854685 .Face-style-content-64eccc {
    margin-top: -20px; }
  .Face-style-wrapper-854685 img {
    max-width: 140px; } }

/*# sourceMappingURL=main.css.map*/