.no-record-404{
  width: 50%;
  margin: 1rem auto 3rem;
  text-align: center;
  background-color: white;
  padding: 4rem 4rem;
  .no-record-404-inner{
    padding: 1rem;
    border: 1px solid #ccc;
  }

  .noo-record-404-inner{
    h5{
      font-weight: 400;
      color: #ccc;
    }
  }
}