@import '../../../../../styles/colors';

$gray-color : #DEE0E9;
$bg-gray-color:#edeff5;
$mgmt-border:#f1f1f1;

.usage-container {
  width: 100%;
  .content {
    background: white;
    border: solid 1px $gray-color;
    padding-bottom: 79px;
    .big-number {
      font-size: 38px;
      line-height: 51px;
      font-weight: bold;
    }
    .small-number {
      align-self: center;
      font-size: 24px;
      line-height: 51px;
    }
    .sub-item-title {
      font-size: 24px;
      font-weight: bold;
      line-height: 32px;
      margin-left: 33px;
      margin-top: 38px;
    }
  }
}