/*$primary: #64CBE7;
$secondary: #054469;*/
$primary: #353535;
$secondary: #353535;
$light: #f4f6fb;
$description: #959595;
$blue: #024569;

$businessUnit: #000;

$theme-colors: (
    primary: $primary,
    secondary: $secondary,
    light: $light,
    description: $description,
    blue: $blue
);
