@import '../../../styles/colors';
$success: #4eb54a;
$failed: #eb433d;
$border: #f1f1f1;

.modal-class {
  margin-top: 80px;
  border-radius: 5px;
  box-shadow: none;
  padding: 0px;

  .asf-items{
    padding: 1rem;

    .asf-item{
      &.overall{
        width: 100%;
        display: block;
        border-bottom: none;
      }
      &.success{
        background-color: #cce8cd;
      }
      &.failed{
        background-color: #ffcbc7;
      }
      width: 50%;
      border-bottom: 1px solid #f1f1f1;
      display: inline-block;
      h5{
        padding: 0.5rem;
        span{
          &:first-child{
            img{
              width: 20px;
            }
          }
          font-size: 14px;
          &:last-child{
            font-size: 12px;
            font-weight: 500;
          }
          &:nth-child(2){
            margin-left: 5px;
          }
        }
      }
    }
  }

}


