@import '../../../../styles/colors';

.role-form-modal{

  position: relative;
  .close-icon{
    position: absolute;
    top: 1rem;
    right: 2rem;
    img{
      width: 15px;
    }
  }

  a{
    color: $primary;
    font-size: 14px;
    text-decoration: underline;
  }

  &-title{
    width: 25%;
    margin: 0 auto;
    padding: 0.5rem;
    border-bottom: 1px solid $primary;
  }
  .modal-content{
    padding: 1rem;
  }

}