@import '../../../styles/colors';
$success: #4eb54a;
$failed: #eb433d;
$border: #f1f1f1;

.batch-user{

  padding:3rem;

  .heading{
    font-size: 1.5rem;
    font-weight: 500;
  }
  ol{
    li{
      margin-top: 20px;
      font-size: 1rem;
      button{
        background-color: $success;
        color: white;
        padding: 10px 25px;
        border:none;
        font-size: 14px;
        img{
          margin-left: 5px;
          width: 20px;
        }
        &:hover,&:focus{
          background-color: $success;
        }
      }
    }
  }

  .dotted-border{
    border:2px dashed #c7c7c7;
    border-radius: 4px;
    height: 150px;
    background: #fff;
    //border-image: url("http://i.stack.imgur.com/wLdVc.png") 1.5 round;
  }

  h4{
    font-size: 14px;
  }
  .description{
    span{
      font-weight: bold;
    }
  }

  .batch-user-btns{
    button{
      width:150px;
      padding: 10px;
    }
  }
}