@import '../../../styles/colors';
$border: #f1f1f1;
.batchchecking-body{
    width: 100%;
    height: 100%;
    position: relative;
    padding-bottom: 50px;
    background: #f4f6fb;
    display: flex;

    .description-body{
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 30px
    }

    .vl{
        border-left: 2px solid #ebebeb;
        width: 3px;
        height: 560px;
      }

}

.container {
    padding: 0;
    @media (min-width: 1200px){
        max-width: 1200px;
    }
}