@import '../../../../styles/colors';
.customerRepository-body{
    margin-top: 43px;
    .inputGroup{
        width: 100%;
        height: 41px;
        div:last-child{
            margin-right: 0;
        }
        .quick-search{
            width: 15%;
            float: left;
            margin-right: 8px;
            height: 41px;

            .searchPendingClass{
                position: relative;
                height: 41px;
                .spanPendingSearch{
                    img{
                        position: absolute;
                        width: 15px;
                        top: 13px;
                        right: 13px;
                    }

                }
                .searcPendinghInput{
                    height: 41px;
                    padding-right: 40px;
                    border: none;
                    border-radius: 0;
                    box-shadow: 0px 1px 48px rgba(208,211,220,0.32);
                    background-color: #ffffff;
                    font-size: 12px;
                    font-family: "Varela-Round", Arial, Helvetica, sans-serif;
                }

                input[type="text"]:focus {
                    -webkit-box-shadow: none;
                    box-shadow: none;
                }
            }
        }
        .Status{
            width: 155px;
            float: left;
            margin-right: 8px;
            height: 41px;
            position: relative;

            .selectPendingClass{
                position: relative;
                height: 41px;
                .selectPendingSpan{
                    img{
                        position: absolute;
                        right: 20px;
                        top: 3px;
                    }
                }

                .selectPendingInput{
                    height: 41px;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    border: none; /* If you want to remove the border as well */
                    border-radius: 0;
                    box-shadow: 0px 1px 48px rgba(208,211,220,0.32);
                    background-color: #ffffff;
                    font-weight: bold;
                    font-size: 12px;
                }

                select:focus{
                    outline: none ;
                    box-shadow:none;
                }
            }
        }
        .Channel{
            width: 120px;
            float: left;
            margin-right: 8px;
            height: 41px;
            position: relative;

            .selectPendingClass{
                position: relative;
                height: 41px;
                .selectPendingSpan{
                    img{
                        position: absolute;
                        right: 20px;
                        top: 3px;
                    }
                }

                .selectPendingInput{
                    height: 41px;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    border: none; /* If you want to remove the border as well */
                    border-radius: 0;
                    box-shadow: 0px 1px 48px rgba(208,211,220,0.32);
                    background-color: #ffffff;
                    font-weight: bold;
                    font-size: 12px;
                }

                select:focus{
                    outline: none ;
                    box-shadow:none;
                }
            }


        }
        .Type{
            width: 120px;
            float: left;
            margin-right: 8px;
            height: 41px;
            position: relative;

            .selectPendingClass{
                position: relative;
                height: 41px;
                .selectPendingSpan{
                    img{
                        position: absolute;
                        right: 20px;
                        top: 3px;
                    }
                }

                .selectPendingInput{
                    height: 41px;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    border: none; /* If you want to remove the border as well */
                    border-radius: 0;
                    box-shadow: 0px 1px 48px rgba(208,211,220,0.32);
                    background-color: #ffffff;
                    font-weight: bold;
                    font-size: 12px;
                }

                select:focus{
                    outline: none ;
                    box-shadow:none;
                }
            }

        }
        .User{
            width: 120px;
            float: left;
            margin-right: 8px;
            height: 41px;
            position: relative;

            .selectPendingClass{
                position: relative;
                height: 41px;
                .selectPendingSpan{
                    img{
                        position: absolute;
                        right: 20px;
                        top: 3px;
                    }
                }

                .selectPendingInput{
                    height: 41px;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    border: none; /* If you want to remove the border as well */
                    border-radius: 0;
                    box-shadow: 0px 1px 48px rgba(208,211,220,0.32);
                    background-color: #ffffff;
                    font-weight: bold;
                    font-size: 12px;
                }

                select:focus{
                    outline: none ;
                    box-shadow:none;
                }
            }

        }
        .date-pick{
            position: relative;
            margin-right: 8px;
            width: 120px;
            img{
                position: absolute;
                right: 11px;
                top: 12px;
                width: 15px;
            }
            .form-control{
                height: 41px;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                border: none; /* If you want to remove the border as well */
                border-radius: 0;
                box-shadow: 0px 1px 48px rgba(208,211,220,0.32);
                background-color: #ffffff;
                font-weight: 500;
                font-size: 12px;
            }
        }
        .clear-filters{
            font-size: 12px;
            border-radius: 0;
            padding: 10px 10px;
        }
    }
    .table-part{
        margin-top: 23px;
        .custom-table{
            background: transparent;
            font-size: 11px;
            text-align: center;
            border-collapse:separate;
            border-spacing: 0 5px;
            td, th {
                vertical-align: middle;
            }
            thead{
                tr{
                    height: 60px;
                    background-color: #d5d8e1;
                    th{
                        border: none;
                        padding: 1.3rem 0.75rem;
                        border-top: 1px dashed #ccc;
                        border-bottom: 1px dashed #ccc;
                        font-weight: 400;
                        font-size: 13px;
                    }
                }
            }

            tr{
                background-color: white;
                td{
                    .seen-circle{
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                    }
                    .seen{
                        background-color: #d5d7e0;
                        color: #d5d7e0;
                    }

                    .unseen-success{
                        background-color: #39b54a;
                        color: #39b54a;
                    }

                    .unseen-failed{
                        background-color: #e46459;
                        color: #e46459;
                    }
                }
                td{
                    &:first-child{
                        font-weight: 400;
                    }
                    text-transform: capitalize;
                    border-top: none;
                    border-bottom: 3px solid #e8eaf1;
                }
            }

            .th-date{
                width: 8%;
            }
            .th-reference{
                width:10%;
            }
            .th-status{

                width:10%;
            }

            .th-resend{
                width: 7%;
            }
            .th-terminate{
                width: 7%;
            }
            .th-delete{
                width: 7%;
            }

            .action-imgs{
                width:36%;
            }
        }
    }
}

.container {
    padding: 0;
    @media (min-width: 1200px){
        max-width: 1200px;
    }
}