.incomplete-container {
	.anlaytics {
		background: #fff;
		.status-group {
			width: 100%;
			.status-figures {
				flex: 0.5;
				.group {
					margin-bottom: 45px;
				}
			}
			label {
				font-size: 18px;
				line-height: 24px;
				font-weight: bold;
				margin-bottom: 30px;
			}
		}
	}
	.big-number {
		font-size: 38px;
		line-height: 51px;
		font-weight: bold;
	}
}