@import '../../../../styles/colors';
$mgmt-border:#f1f1f1;

.form-fields {
  padding: 1rem;

  label {
    font-size: 14px;
  }

  .cta-container {
    button {
      border-radius: 3px;
      padding: 10px 15px;
      font-size: 14px;
      width: 150px;
    }

    .cancel {
      border-radius: 3px;

    }
  }
}

.form-group {
  margin: 0 0 1rem 0;
  label{
    margin-bottom: 0;
  }

  .form-control {
    background-color: white;
    border: none;
    border-bottom: 1px solid $mgmt-border;
    border-radius: 0;
    height: 40px;
    font-size: 14px;
    font-weight: 400;
    padding-top: 0;
  }
}
