@import '../../../styles/colors';

$border: #f1f1f1;
.identifyapplicants-body {
  width: 100%;
  height: 100%;
  position: relative;
  padding-bottom: 50px;
  background: #f4f6fb;

  .description {
    display: table;
    margin-top: 33px;
    font-weight: 500;
    color: $secondary;
    font-size: 16px;

  }

  .identifyapplicants-margintop {
    margin-top: 55px;
  }

  .custom-selecting {
    display: flex;
    justify-content: start;
    margin-top: 27px;

    .select-applicants {
      height: 60px;
      width: 144px;
      position: relative;

      .select-Span {
        img {
          position: absolute;
          right: 9px;
          top: 14px;
        }
      }

      .select-InputApplicants {
        height: 100%;
        width: 100%;
        padding-left: 60px;

        border-radius: 4px;

        -webkit-appearance: none;
        -moz-appearance: none;
        background-color: #fff;
        border: 1px solid $border;

        font-weight: 500;
        font-size: 16px;

        &:active,
        &:focus {
          outline: 0;
        }

      }
    }

  }

  .reference-inputClass {
    display: flex;
    justify-content: start;
    margin-top: 20px;

    height: 60px;

    .reference-input {
      width: 390px;
      height: 100%;

      font-size: 16px;
      border-radius: 4px;
      border: solid 1px $border;
    }

    input[type="text"]:focus {
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }

  .button-groups {

    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid $primary;
    display: flex;
    justify-content: start;

    .first {
      .cancel-button {
        height: 60px;
        width: 153px;

        margin-right: 5px;

        background: #fff;
        border-radius: 4px;
        border: solid 1px $primary;
        color: $primary;

        font-size: 16px;
        font-weight: 500;
      }
      .btn:active,
      .btn:focus {
        outline: none;
        box-shadow: none;
      }

    }

    .last {
      .next-button {

        height: 60px;
        width: 153px;

        margin-left: 5px;

        background: $primary;
        border: solid 1px $primary;
        color: #fff;

        font-size: 16px;
        border-radius: 4px;
        font-weight: 500;

      }

      .sendApplicants-width {

        width: 184px;
      }

      .btn:active,
      .btn:focus {
        outline: none;
        box-shadow: none;
      }

    }

  }

}
