@import '../../../../styles/colors';

.batch-description-body{
    .description-step{
        margin-left: 20px;
        margin-bottom: 5px;    
        text-align: left;
        font-weight: 500;
        color: #222222;
        font-size: 14px;
    }
    
    .description-item{
        text-align: left;
        font-weight: 400;
        color: #56585b;
        font-size: 14px;
    }
    
    .margin-left{
        margin-left: 35px;
    }
    
    .margin-bottom{
        margin-bottom: 25px
    }

    .margin-right{
        margin-right: 10px
    }
    
    .margin-top{
        margin-top: 20px
    }

    .right{
        order: 1;
        margin-left: 10px;
    }
    
    .display-flex{
        display: flex;
    }
    
    .display-flex-center{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .position-right{
        position: absolute;
        right: 20px;
    }
    
    .file-fontsize-bold{
        font-weight: 400;
        margin-right: 5px;
        font-size: 14px;
    }
    
    .file-fontsize{
        font-weight: 300;
        font-size: 14px;
    }
    
    .dotted-border{
        border-style: dotted;
        border-color: #ebebeb;
        border-radius: 4px; 
        height: 120px;
        background: #fff;
    }
    
    .center{
        margin: auto;
        margin-top: 35px;
        height: 60px;
        width: 300px;
    }
    
    .batch-input{
        background: #fff;
        border-radius: 4px; 
        border: solid 1px #ebebeb;
        padding-left: 7px;
        padding-right: 7px;
        padding-top: 4px;
        padding-bottom: 4px;
        height: 40px;
        width: 310px;
        font-weight: 400;
        font-size: 14px;
        color: #56585b ;
    }
    
    .batchType{
        .option-button{
            height: 40px;
            width: 153px;
        
            margin-right: 5px; 
        
            background-color: white;
            border-radius: 4px!important; 
            
            font-size: 14px;
            font-weight: 400;
        }
        .btn:active,
        .btn:focus {
            outline: none ;
            box-shadow:none; 
        }
    }
    
    .selected-blue{
        color: $blue!important;
        border: solid 1px $blue!important;
    }
    
    .deselected-gray{
        color: #56585b!important;
        border: solid 1px #ebebeb!important;
    }
    
    .download-button{
        height: 40px;
        width: 310px;
    
        margin-right: 5px; 
    
        background: #1eb100;
        border-radius: 4px; 
        border: none;
        color: #fff ;
    
        font-size: 14px;
        font-weight: 400;
        
        .btn:active,
        .btn:focus {
                outline: none ;
                box-shadow:none ; 
        }
    }
    
    .button-groups{
          
        margin-top: 30px;
        display: flex;
        justify-content: left;
        
        .first{
            .cancel-button{
                height: 45px;
                width: 153px;
    
                margin-right: 5px; 
    
                background: #fff;
                border-radius: 4px; 
                border: solid 1px $secondary;
                color: $secondary ;
    
                font-size: 16px;
                font-weight: 400;
                      
                
            }
            .btn:active,
            .btn:focus {
                outline: none ;
                box-shadow:none; 
            }
    
        }    
        
        .last{
            .next-button{
    
                height: 45px;
                width: 153px;
    
                margin-left: 5px;
    
                background: $secondary;
                border: solid 1px $secondary;
                color: #fff;
                
                font-size: 16px;
                border-radius: 4px;
                font-weight: 400;
                            
            }
    
            .custom-send {
                width: 206px;
            }
            
            .btn:active,
            .btn:focus {
                    outline: none ;
                    box-shadow:none ; 
            }
        }
    }
}
